[submodule "QSProjects"]
	path = QSProjects
	url = https://github.com/QualitySolution/QSProjects
[submodule "Gtk.DataBindings"]
	path = Gtk.DataBindings
	url = https://github.com/QualitySolution/Gtk.DataBindings
[submodule "GammaBinding"]
	path = GammaBinding
	url = https://github.com/QualitySolution/GammaBinding
